{% extends 'layout.html' %}

{% block head %}
    <title>List of todos</title>
{% endblock %}

{% block body %}
    <h1>List of TODOs</h1>
    <div class="row">
        <a href="/todos/create" class="btn btn-primary">Add todo</a>
    </div>
    <br/>
    <div class="row">
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due date</th>
                <th>Actions</th>
            </tr>
            {% for todo in list %}
                <tr>
                    <td>{{todo.title}}</td>
                    <td>{{todo.description}}</td>
                    <td>{{todo.due_date}}</td>
                    <td>
                        <a href="/todos/edit/{{todo._id}}">Edit</a> | <a href="/todos/delete/{{todo._id}}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        
    </div>
{% endblock %}